div{
  width: 100%;
  height: 100%;
}

#displayTransferFunction{
  position: absolute;
  color: #6b6b6b;
  //padding: 10px;
  font-family: sans-serif;
  //border-radius: 10px;
  //box-shadow: 0 0 10px #aaa;
  z-index: 999;
  background: rgba(65, 65, 65, 0.4);
  bottom: 1em ; left: calc(50% - 300px);
  max-width: 50%;
  height: 100px;
}

#displayTransferFunction h2,
#displayTransferFunction p{
  margin: 0 !important;
  text-align: center;
}

#displayTransferFunction p{
  margin-top: .3em !important;
  font-size: 3em;
  color: #333;
}
