
<div [hidden]="isHidden" id="displayTransferFunction">
  <h2>{{currentShow}}</h2>
  <p> {{currentPath}} </p>
</div>

<div id="workspace"></div>

<app-nav-bar (node)="createNode($event)" (clear)="clearGraph()" (result)="createAdjacencyMatrix()"
             [navigation_dir]="'skip_next'" [router_link]="'/routh-herwitz'"
             [tool_tip]="'Routh-Hurwitz Table'" [comp]="'Graph'" [newAction]="'Add New Node'"
             [op1]="'zoom_in'" [op2]="'zoom_out'"
             (opt1)="zoom('+')" (opt2)="zoom('-')"
             [op1_tip]="'Zoom in the graph'" [op2_tip]="'Zoom out the graph'"></app-nav-bar>
