::-webkit-scrollbar {
  /* width of the entire scrollbar */
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
  /* color of the entire scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #673ab7;
  /* color of the scrollbar thumb */
  border-radius: 10px;
  /* roundness of the scrollbar thumb */
}

scrollbar-track {
  background-color: #F5F5F5;
  /* color of the entire scrollbar track */
}

scrollbar-thumb {
  background-color: #673ab7;
  /* color of the scrollbar thumb */
  border-radius: 10px;
  /* roundness of the scrollbar thumb */
}

form {
  font-family: 'Chivo Mono', monospace !important;
  width: 85%;
  margin: 5% auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0 0 3px #aaa;
}

label {
  display: inline-block;
  margin:0 20px 6%;
  font-size: x-large;
  font-weight: bold;
  color: #5c5c5c;
}

#degree {
  width: 15%;
  font-size: large;
  margin-top: 0;
  margin-right: 3%;
  padding: 10px;
  color: #5c5c5c;
  border-radius: 9px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

@media (max-width: 800px) {
  label {
    width: 30%;
    font-size: large;

  }

  #degree {
    width: 10%;

    font-size: medium;
  }

  #construct {
    width: 40px !important;
    height: 40px !important;
  }

}

#degree:is(:focus, :hover) {
  border: 1px solid #673ab7;
}

.polynomial {
  text-align: center;
  max-width: 95%;
  max-height: 300px;
  overflow: auto;
  overflow-wrap: break-word;
  font-size: larger;
  color: #5c5c5c;
}

.polynomial .mat-expansion-panel-header-title,
.polynomial .mat-expansion-panel-header-description {
  flex-basis: 0;
  color: #8d8d8d;
  font-family: 'Chivo Mono', monospace !important;
}

.polynomial .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-family: 'Chivo Mono', monospace !important;
}

.polynomial .mat-expansion-panel-header-title {
  font-size: 15px;
  color: #5c5c5c;
  font-family: 'Chivo Mono', monospace !important;
}

.inner-text {
  display: inline-block;
  position: relative;
  line-break: unset;
  font-size: larger;
  padding: 0;
  margin: 0;
}

.inner-text:after {
  content: '';
  position: absolute;
  top: calc(100% + 10px);
  left: calc(50% - 30px);
  width: 60px;
  height: 2px;
  background: red;
  transition: .2s ease-in-out;
}

#construct {
  margin-top: 10px;
  display: inline-block;
  line-break: unset;
  color: #fff;
  background-color: #673ab7;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px #888888;
}

.inner-text:hover:after {
  transform: scaleX(1.6);
  transform-origin: center;
}

.char-eq {
  margin-top: 20px;
  display: inline-block;
  line-break: unset !important;
}


.char-eq input {
  width: 50px;
  display: inline-block;
  font-size: large;
  margin-top: 0;
  margin-right: 0;
  padding: 10px;
  color: #5c5c5c;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.char-eq input:is(:focus, :hover) {
  border: 1px solid #673ab7;
}


.routh-table{
  max-height: 300px;
  overflow: auto;
  max-width: 95%;
}


table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
  color: #000000;
  box-shadow: 0 0 3px #838383;
  border-radius: 5px;
}

table td {
  padding: 10px;
  text-align: center;
  font-size: large;
  color: #5c5c5c;
}


tr,
td {
  padding: 8px;
}


table tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}


td:nth-child(1) {
  background-color: #424242;
}

#title {
  color: white;
}

#stable {
  font-family: 'Chivo Mono', monospace !important;
  font-size: large;
  //greeny output
  color: rgb(0, 180, 0);
  background-color: rgba(0, 255, 68, 0.112);
  // height: 30px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 3px #aaa;
}

#unstable {
  font-family: 'Chivo Mono', monospace !important;
  font-size: large;
  color: rgb(252, 58, 58);
  background-color: rgba(255, 0, 0, 0.112);
  padding: 10px 0 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 3px #aaa;
}
