<div id="circularMenu" class="circular-menu">
  <span class="shadow"></span>

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i><mat-icon>add</mat-icon></i>
  </a>

  <menu class="items-wrapper">
    <i class="menu-item" (click)="submit()" matTooltip="Calculate the {{comp}}" matTooltipPosition="below">
      <mat-icon>done</mat-icon>
    </i>

    <i class="menu-item" (click)="add()" matTooltip="{{newAction}}" matTooltipPosition="left">
      <mat-icon>add</mat-icon>
    </i>
    <i class="menu-item" (click)="option_1()" matTooltip="{{op1_tip}}" matTooltipPosition="left">
      <mat-icon>{{op1}}</mat-icon>
    </i>

    <i class="menu-item" (click)="option_2()" matTooltip="{{op2_tip}}" matTooltipPosition="left">
      <mat-icon>{{op2}}</mat-icon>
    </i>
  </menu>

</div>


<button mat-fab routerLink="{{router_link}}" matTooltip="{{tool_tip}}"
        matTooltipPosition="left" [color]="'primary'" class="router">
  <mat-icon>{{navigation_dir}}</mat-icon>
</button>
