<div id="circularMenu" class="circular-menu">
  <span class="shadow"></span>

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
    <i><mat-icon>add</mat-icon></i>
  </a>

  <menu class="items-wrapper">
    <i class="menu-item"><mat-icon>settings</mat-icon></i>
    <i class="menu-item"><mat-icon>add</mat-icon></i>
    <i class="menu-item"><mat-icon>favorite</mat-icon></i>
    <i class="menu-item"><mat-icon>flash_on</mat-icon></i>
  </menu>

</div>
